.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #0f172a;
  padding: 12px 20px;
  color: white;
  position: relative;
}

/* Nav Desktop */
.nav {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.link:hover {
  color: #f59e0b;
}

/* Hamburger */
.hamburger {
  display: none;
  font-size: 26px;
  cursor: pointer;
  z-index: 1001;   /* ✅ FIX: always on top */
}

/* Mobile */
@media (max-width: 768px) {
  .hamburger {
    display: block;
    margin-bottom: 5px;
    margin-left: 160px;
  }

  .nav {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: #486aa5;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px 0;
    display: none !important;
    z-index: 1000;
  }

  .nav.open {
    display: flex !important;
  }
}
